body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.layout {
  min-height: 100vh;
}
.sidebar {
  min-height: 100vh;
  height: 100%;
  max-width: 256px;
  position: fixed;
}
.sidebar > div {
  background: #001529;
  height: 100%;
  min-height: 100vh;
}

.content {
  margin-left: 256px;
}


.collapse-header >div{
  width: 80px !important;
}